
# values.yaml for kube-prometheus-stack with shared host and path-based routing in MicroK8s

grafana:
  enabled: true
  replicas: 1
  adminUser: admin
  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password
  # service:
  #   enabled: true
  #   type: ClusterIP
  #   port: 80
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana/"
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/use-regex: "true"
    hosts:
      - master1-knt-platform-emeralds.northeurope.cloudapp.azure.com
    path: /grafana(/|$)(.*)
    pathType: Prefix

prometheus:
  #Note: The ingress configuration can be applied only for debugging purposes. (up to routePrefix configuration)
  # ingress:
  #   enabled: true
  #   hosts:
  #     - master1-knt-platform-emeralds.northeurope.cloudapp.azure.com
  #   path: /prometheus(/|$)(.*)
  #   pathType: Prefix
  # prometheusSpec:
  #   externalUrl: "https://master1-knt-platform-emeralds.northeurope.cloudapp.azure.com/prometheus/"
  #   routePrefix: "/prometheus"
    #Note: The following settings are optional and can be adjusted based on your requirements
    # retention: 30d
    # retentionSize: 10GB
    # storageSpec:
    #   volumeClaimTemplate:
    #     spec:
    #       accessModes: ["ReadWriteOnce"]
    #       resources:
    #         requests:
    #           storage: 20Gi

# alertmanager:
#   service:
#     type: ClusterIP
#     port: 9093
#   ingress:
#     enabled: false

# nodeExporter:
#   enabled: true
#   service:
#     port: 9100

prometheusOperator:
    admissionWebhooks:
      enabled: true
      failurePolicy: Ignore
      patch:
        certManager:
          enabled: true

serviceAccounts:
  create: true
